.flex-shrink.px-4.max-w-full.w-full.lg:px-6.wow.fadeInUp{:class => "sm:w-1/2 lg:w-1/3", "data-wow-duration" => "1s"}
  .py-8.px-12.mb-12.bg-gray-50.border-b.border-gray-100.transform.transition.duration-300.ease-in-out.hover:-translate-y-2
    .inline-block.text-gray-900.mb-4
    %h3.text-lg.leading-normal.mb-2.font-semibold.text-black= guestbook.name
    %p.text-gray-500.word-keep-all= guestbook.message